.product {
  overflow: hidden;
  @include transition(box-shadow 0.3s);

  &:hover {
    box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
  }

  .product_inner {
    .product_media {
      position: relative;
      overflow: hidden;

      a {
        display: block;
        border-bottom: 3px solid $c-primary;
      }

      img {
        display: inline-block;
        @include transition(0.2s);
      }
    }

    .product_meta {
      padding-top: 5px;
      padding-bottom: 10px;
      color: $c-black;
      text-align: center;
    }

    .product_name {
      font-size: 15px;
      font-weight: 400;
      margin-bottom: 4px;

      &:hover {
        color: $c-primary;
      }
    }

    .product_price {
      display: inline-block;
      font-size: 12px;
      font-weight: 500;
    }
  }
}

@include mq('sm') {
  .product {
    .product_inner {
      .product_meta {
        padding-top: 10px;
        padding-bottom: 20px;
      }

      .product_name {
        font-size: 17px;
      }

      .product_price {
        font-size: 14px;
      }
    }
  }
}
