.search-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  overflow-y: auto;

  .close {
    position: absolute;
    right: 10px;
    top: 20px;
    width: 40px;
    height: 40px;
    border-radius: 1000px;
    border: none;
    outline: none;
    font-size: 18px;
    cursor: pointer;
    z-index: 1;

    &:hover {
      background-color: #ddd;
    }

    span {
      display: inline-block;
      margin-bottom: 4px;
    }
  }

  .search-modal_input {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    padding: 0 15px;
    @include transition(0.5s ease);

    form {
      input {
        display: block;
        width: 100%;
        font-size: 20px;
        border: none;
        outline: none;
        margin-bottom: 6px;

        &::placeholder {
          color: $c-black;
        }
      }

      span {
        display: block;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 300;
        color: #ccc;
      }
    }
  }

  .product-wrap {
    position: absolute;
    top: 100px;
    left: 0;
    padding-bottom: 30px;

    .list-product {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 15px;
      row-gap: 20px;
      padding: 15px;
    }
  }
}

@include mq('sm') {
  .search-modal {
    .close {
      right: 25px;
    }

    .search-modal_input {
      padding: 0 30px;

      form {
        input {
          font-size: 26px;
        }

        span {
          font-size: 16px;
        }
      }
    }
  }
}

@include mq('md') {
  .search-modal {
    .close {
      right: 35px;
    }

    .search-modal_input {
      padding: 0 40px;

      form {
        input {
          font-size: 28px;
        }

        span {
          font-size: 18px;
        }
      }
    }

    .product-wrap {
      .list-product {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        row-gap: 20px;
        padding: 20px;
      }
    }
  }
}

@include mq('lg') {
  .search-modal {
    .close {
      right: 50px;
    }

    .search-modal_input {
      padding: 0 50px;

      form {
        input {
          font-size: 30px;
        }

        span {
          font-size: 20px;
        }
      }
    }

    .product-wrap {
      .list-product {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}

@include mq('xl') {
  .search-modal {
    .product-wrap {
      .list-product {
        grid-template-columns: repeat(5, 1fr);
      }
    }
  }
}
