@font-face {
  font-family: 'CaramelloFree';
  src: url('../../assets/font/CaramelloFree.ttf'),
    url('../../assets/font/CaramelloFree.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
